/*
    its recommended to insert your important css in the inline.css file and the additional styles here
    because when you compact and compress your resources the inline.css styles will be printed directly in the page
    head using the <style> tag and the rest css files will be added normally using the <link> tag, for more information
    on how to increase your application page speed please visit https://developers.google.com/speed/docs/insights/rules

    Note: print your images/fonts urls related to this file as normal and the elegant will automatically fix them
    when it print this file content inline in your page

    Note: if you want to add additional css files its recommended to add them in the /app/views/resources.js file
    although you can add them manually in the page <head>, for more information about how to manage your app resources
    visit: http://getelegant.com/start.html#managing-static
*/
